html {
    font-family: "Calibri", sans-serif;
}

body {
    font-family: "Calibri", sans-serif;
    margin: 0;
    padding: 0;
    color: #414141;
    font-size: 11pt;
}

header {
    margin: 0;
    padding: 0;
    height: 20%;
    text-align: center;
}

header>h1 {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 56pt;
    font-weight: 300;
    background-color: #414141;
    color: white;
}

a {
    text-decoration: none;
}

a:visited, a:link {
    color: #414141;
}

#contact-container {
    margin: 0 2rem 0 2rem;
    display: flex;
    justify-content: space-evenly;
}

#contact-container>p {
    display: flex;
    align-items: center;
    font-size: 10pt;
}

#contact-container>p>i {
    margin-right: 0.3rem;
    font-size: 16pt;
    color: rgb(85, 167, 221);
}

#main {
    margin: 2rem 3rem 0 3rem;
    font-size: 12pt;
}

#employer-info>p {
    margin: 0;
}

#signature {
    margin-top: 2rem;
}

#signature>p {
    margin: 0;
}

#signature>img {
    margin: 1rem 0 0 0;
    width: 20%;
}